.loader-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0.8;
    z-index: 10;
}

.spinner{
    position: relative;
    margin: auto;
    margin-top: 20%;
}